
.catalog {
    margin-bottom: 70px;
    &-info {
        max-width: 1070px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &-list {}
    &-list-item {
        margin-bottom: 30px;
    }
    &-list-item_callback {
        display: none;
    }
    &-button {}
    &-callback {
        display: none;
        height: 100%;
        min-height: 100%;
        padding: 46px 22px 25px;
        background-color: #ECEDF0;
        border-radius: 5px;
        text-decoration: none;
    }
    &-callback-name {
        display: block;
        margin-bottom: 57px;
        color: #202430;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    &-callback-info {
        display: block;
        margin-bottom: 57px;
        border-left: 3px solid #2873B9;
        padding-left: 15px;
    }

    @media screen
    and (max-width: $desktop) {
    }

    @media screen
    and (max-width: $notebook) {
    }

    @media screen
    and (max-width: $tablet){
        &-list-item {
            margin-bottom: 50px;
        }
        &-list-item_callback {
            display: block;
        }
        &-button {
            background-color: #2873B9;
            min-width: 170px;
            &:active {
                background-color: #D50A0A;
            }
        }
        &-info {
            margin-bottom: 35px;
        }
        &-callback {
            display: flex;
            flex-direction: column;
        }
        &-callback-info {
            font-size: 14px;
            line-height: 22px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-button {
            min-width: 132px;
        }
        &-info {
            text-align: left;
        }
        &-list-item_callback {
            display: none;
        }
    }
}
