
.catalog {
    margin-bottom: 70px;
    &-info {
        max-width: 1070px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &-list {}
    &-list-item {
        margin-bottom: 30px;
    }
    &-list-item_callback {
        display: none;
    }
    &-button {}
    &-callback {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        min-height: 100%;
        background-color: #ECEDF0;
        border-radius: 5px;
        text-decoration: none;
        overflow: hidden;
    }
    &-callback-block {
        position: relative;
        z-index: 1;
        padding: 50px 22px 57px;
        border-radius: 5px;
    }
    &-callback-name {
        display: block;
        margin-bottom: 52px;
        color: #202430;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
    }
    &-callback-info {
        display: block;
        max-width: 186px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 52px;
        border-left: 3px solid #2873B9;
        padding-left: 15px;
    }
    &-callback-pic {
        display: none;
        width: 50%;
        align-self: flex-end;
        margin-left: auto;
    }
    &-callback-img {
        display: block;
    }
    &-callback-actions {
        display: block;
        margin-top: auto;
        text-align: center;
    }
    &-callback_middle {}
    &-callback_middle &-callback-block {
        width: 48%;
        padding-right: 0;
    }
    &-callback_middle &-callback-pic {
        display: block;
        width: 52%;
        padding-top: 10px;
    }
    &-callback_middle &-callback-img {
        max-height: 377px;
    }
    &-callback_wide {}
    &-callback_wide &-callback-block {
        width: 48%;
        padding-left: 90px;
        padding-right: 10px;
    }
    &-callback_wide &-callback-pic {
        width: 52%;
        display: block;
        margin-bottom: -65px;
    }
    &-callback_wide &-callback-name {
        text-align: left;
        margin-bottom: 30px;
    }
    &-callback_wide &-callback-info {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 250px;
    }
    &-callback_wide &-callback-actions {
        text-align: left;
    }
    &-callback_hide {
        height: 0!important;
        overflow: hidden;
        visibility: hidden;
    }

    @media screen
    and (max-width: $desktop) {
    }

    @media screen
    and (max-width: $notebook) {
    }

    @media screen
    and (max-width: $tablet){
        &-list-item {
            margin-bottom: 50px;
        }
        &-list-item_callback {
            display: block;
        }
        &-button {
            background-color: #2873B9;
            min-width: 170px;
            &:active {
                background-color: #D50A0A;
            }
        }
        &-info {
            margin-bottom: 35px;
        }
        &-callback-block {
            padding-top: 46px;
            padding-bottom: 25px;
        }
        &-callback-info {
            margin-bottom: 57px;
            font-size: 14px;
            line-height: 22px;
        }
        &-callback-name {
            margin-bottom: 57px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
        }
        &-callback_wide &-callback-block {
            padding-left: 25px;
        }
        &-callback_wide &-callback-name {
            margin-bottom: 57px;
        }
        &-callback_wide &-callback-info {
            margin-bottom: 57px;
        }
        &-callback_wide &-callback-pic {
            margin-left: -10%;
            width: 62%;
            margin-bottom: 0;
        }
        &-callback_wide &-callback-img {
            padding-top: 15px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-button {
            min-width: 132px;
        }
        &-info {
            text-align: left;
        }
        &-list-item_callback {
            display: none;
        }
    }
}
