
.category {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-right: -15px;
        margin-left: -15px;
    }
    &-list-item {
        width: 25%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
    }
    &-slider-nav {
        display: none;
    }
    &-props {
        margin-bottom: 120px;
    }

    @media screen
    and (max-width: $desktop) {
    }

    @media screen
    and (max-width: $tablet){
        &-list-item {
            width: 33.3%;
            padding-right: 7px;
            padding-left: 7px;
            margin-bottom: 50px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-list {
            flex-wrap: nowrap;
            margin-right: 0;
            margin-left: 0;
        }
        &-list-item {
            width: 206px;
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 0;
        }
        &-slider-nav {
            display: block;
        }
    }
}


