
.footer {
    background-color: #092433;
    &-main {
        color: #fff;
        a {
            color: #fff;
        }
        a:hover {
            color: #fff;
        }
    }
    &-main-container {
        display: flex;
        padding-top: 53px;
        padding-bottom: 53px;
    }
    &-main-item {
        width: 30%;
    }
    &-main-item_company {
    }
    &-main-item_menu {}
    &-main-item_phone {}
    &-main-item_contacts {}
    &-logo {
        display: block;
        margin-bottom: 50px;
    }
    &-logo-element {
        width: 127px;
        height: 85px;
    }
    &-menu {
    }
    &-menu-item {
        margin-bottom: 12px;
    }
    &-menu-link {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
    }
    &-contacts {
        margin-bottom: 35px;
        color: #fff;
    }
    &-socials {
    }
    &-socials-name {
        margin-bottom: 17px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
    }
    &-socials {

    }

    &-bottom {
        background-color: #00141F;
    }
    &-info {
        margin-right: auto;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    &-bottom-container {
        display: flex;
        align-items: center;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &-develop {
        margin-left: auto;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    &-develop-link {
        margin-left: 8px;
    }
    &-develop-logo {
        width: 156px;
        height: 26px;
    }
    &-company {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
    }
    &-copyright {
        margin-bottom: 12px;
    }
    &-confidentially {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen
    and (max-width: $desktop){
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
    }

    @media screen
    and (max-width: $mobile){
    }
}
