
.footer {
    background-color: #F8F9FA;
    &-top {
        padding-top: 24px;
        padding-bottom: 20px;
        border-bottom: 0.5px solid #D1D2DB;
    }
    &-top-container {
        display: flex;
        align-items: center;
    }
    &-socials {
        margin-left: auto;
    }
    &-bottom {
        display: flex;
        padding-top: 20px;
        padding-bottom: 36px;
    }
    &-logo {
        display: block;
        margin-right: 35px;
    }
    &-logo-element {
        min-width: 186px;
        width: 186px;
        height: 46px;
    }
    &-copyright {
        width: 30%;
        max-width: 347px;
        margin-right: auto;
        padding-top: 3px;
        padding-right: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }
    &-menu {
        display: flex;
    }
    &-menu-item {
        margin-right: 31px;
        &:last-child {
            margin-right: 10px;
        }
    }
    &-menu-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #333333;
        text-decoration: none;
        white-space: nowrap;
    }
    &-contacts {
        width: 16%;
        min-width: 160px;
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-contacts_wide {
        width: 18%;
    }
    &-phone {
        margin-bottom: 9px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #1B1B1B;
        a {
            font-family: 'Lato', sans-serif;
            color: #1B1B1B;
            font-weight: 500;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-address {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.01em;
    }
    &-develop {
        min-height: 45px;
        padding-top: 14px;
        padding-bottom: 13px;
        background-color: #F2F4F7;
    }
    &-develop-container {
        display: flex;
        justify-content: space-between;
    }
    &-develop-year {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;
    }
    &-develop-company {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;
    }
    &-socials-mob {
        display: none;
    }
    &-phone-block {
        display: none;
        position: relative;
    }
    &-phone-panel {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
    &-phone-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 300px;
    }
    &-phone-link {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 14px;
    }
    &-phone-icon {
        vertical-align: middle;
        margin-right: 12px;
    }
    &-phone-switcher {
        display: inline-block;
        padding: 3px;
        line-height: 0px;
        margin-top: -1px;
    }
    &-arrow-icon {
    }
    &-phone-label {
        vertical-align: middle;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        color: #1B1B1B;
        font-family: 'Manrope', sans-serif;
    }
    &-phone-list {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        border-radius: 4px;
        border: 0.5px solid #D1D2DB;
        box-shadow: 0px 0px 10px rgba(197, 195, 199, 0.25);
    }
    &-phone-list-item {
        margin-top: -1px;
        border-bottom: 1px solid #D1D2DB;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
            border-bottom-width: 0;
        }
    }
    &-phone-list-item:hover {
        position: relative;
        z-index: 2;
        margin-left: -1px;
        margin-right: -1px;
        padding-left: 23px;
        padding-right: 23px;
        background-color: #FF3560;
        border-bottom-color: #FF3560;
    }
    &-phone-list-item:hover {
        color: #fff;
    }
    &-phone-list-item:hover &-address {
        color: #fff;
    }
    &-phone-list-item:hover &-phone-number {
        color: #fff;
    }
    &-phone-list-item:last-child {
        border-bottom-color: transparent;
    }
    &-phone-number {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #2D2A1E;
        &:hover {
            color: #2D2A1E;
        }
    }
    &-address {
        margin-left: 0;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.01em;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
    }
    &-address_top {
        margin-left: 28px;
    }
    &-phone_active {
    }
    &-phone_active &-phone-dropdown {
        display: block;
    }
    &-phone_active &-arrow-icon {
        transform: scaleY(-1);
    }
    &-phone-arrow-icon {
        position: absolute;
        bottom: -14px;
        left: 44px;
        z-index: 1;
        width: 32px;
        height: 15px;
        overflow: hidden;
        transform: scaleY(-1);
    }

    @media screen
    and (max-width: $desktop){
    }

    @media screen
    and (max-width: $notebook){
        &-menu-item {
            margin-right: 27px;
        }
    }

    @media screen
    and (max-width: $tablet){
        &-top {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &-menu-item {
            margin-right: 16px;
        }
        &-menu-link {
            font-size: 13px;
            line-height: 16px;
        }
        &-socials-label {
            display: none;
        }
        &-logo {
            margin-right: 26px;
        }
        &-logo-element {
            min-width: 135px;
            width: 135px;
            height: 32px;
        }
        &-copyright {
            width: auto;
            max-width: 294px;
            margin-right: auto;
            padding-top: 1px;
            font-weight: 500;
            font-size: 10px;
            line-height: 18px;
        }
        &-contacts {
            display: none;
        }

        &-phone-block {
            display: block;
            order: 1;
            margin-left: 30px;
        }
        &-phone-icon {
            width: 13px;
            margin-right: 8px;
        }
        &-phone-label {
            font-size: 12px;
            line-height: 16px;
        }
        &-phone-link {
            margin-right: 2px;
        }
        &-arrow-icon {
            width: 8.5px;
        }
        &-address_top {
            margin-left: 24px;
        }
        &-address {
            font-size: 8px;
            line-height: 10px;
        }
        &-phone-number {
            font-size: 12px;
            line-height: 16px;
        }
        &-phone-dropdown {
            top: auto;
            bottom: calc(100% + 15px);
            width: 158px;
        }
        &-phone-list-item {
            padding-left: 21px;
            padding-right: 21px;
            padding-top: 13px;
            padding-bottom: 15px;
        }

        &-develop {
            min-height: 35px;
            padding-top: 9px;
            padding-bottom: 11px;
        }
        &-develop-year {
            font-size: 12px;
            line-height: 15px;
        }
        &-develop-company {
            font-size: 12px;
            line-height: 15px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-top {
            display: none;
        }
        &-bottom {
            flex-wrap: wrap;
            align-items: normal;
            padding-top: 30px;
            padding-bottom: 11px;
        }
        &-logo {
            width: 100%;
            margin-right: 0;
            margin-bottom: 23px;
        }
        &-copyright {
            flex-grow: 1;
            max-width: none;
            margin-top: 24px;
            margin-left: -$gutter;
            margin-right: -$gutter;
            padding-top: 15px;
            padding-left: $gutter;
            padding-right: $gutter;
            border-top: 0.5px solid #D1D2DB;
        }
        &-phone-block {
            order: initial;
            margin-left: 0;
            margin-right: auto;
        }
        &-develop {
            min-height: 34px;
            padding-top: 10px;
            padding-bottom: 9px;
        }
        &-develop-year {
            display: none;
        }
        &-socials-mob {
            display: block;
            margin-left: auto;
        }
    }
}

.subscribe {
    background-color: #526295;
    &-container {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &-info {
        margin-right: 30px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
    }
    &-form {
        display: flex;
        margin-left: auto;
    }
    &-input {
        width: 200px;
        height: 40px;
        margin-right: 26px;
        padding: 9px 23px 10px;
        background-color: transparent;
        border-color: #fff;
        line-height: 19px;
        color: #FFFFFF;
        letter-spacing: 0.04em;
        text-align: center;
        &::-webkit-input-placeholder {color: #FFFFFF;}
        &:-moz-placeholder {color: #FFFFFF;}
        &::-moz-placeholder {color: #FFFFFF;}
        &:-ms-input-placeholder {color: #FFFFFF;}
        &::placeholder {
            color: #FFFFFF;
            font-size: 15px;
        }
        &:focus {
            color: #FFFFFF;
        }
    }

    @media screen
    and (max-width: $desktop){
    }

    @media screen
    and (max-width: $tablet){
        &-container {
            padding-top: 14px;
            padding-bottom: 14px;
        }
        &-info {
            font-weight: 600;
            font-size: 14px;
            line-height: 23px;
        }
        &-input {
            width: 147px;
            height: 34px;
            border-radius: 17px;
            padding: 7px 21px 8px;
            font-size: 13px;
            letter-spacing: normal;
            &::placeholder {
                font-size: 13px;
                line-height: 19px;
            }
        }
    }

    @media screen
    and (max-width: $mobile){
        &-container {
            flex-direction: column;
            align-items: normal;
            padding-top: 21px;
            padding-bottom: 28px;
        }
        &-info {
            margin-right: 0;
            margin-bottom: 18px;
            line-height: 21px;
        }
        &-input {
            width: 100%;
            margin-right: 0;
            margin-bottom: 21px;
            padding-top: 11px;
            padding-bottom: 13px;
        }
        &-form {
            flex-direction: column;
            margin-left: 0;
        }
        &-input {
            height: 41px;
            border-radius: 20px;
        }
        &-button {
            height: 38px;
            padding: 11px 25px 13px;
            border-radius: 19px;
        }
        &-button-icon {
            top: 7px;
        }
    }
}
