
.search {
    &-button {
        display: none;
        line-height: 0;
        background-color: transparent;
    }
    &-link {
        display: block;
        line-height: 0;
    }
    &-container {
        display: flex;
        position: relative;
    }
    &-icon {
        min-width: 23px;
        width: 23px;
        height: 23px;
        path {
            fill: #202430;
        }
        &:hover path {
            fill: #D40A0A;
        }
    }
    &-input-wrapper {
        width: 0;
        max-width: none;
        visibility: hidden;
        position: absolute;
        right: 44px;
        top: -13px;
        transition: width 0.2s linear, visibility 0.2s linear;
    }
    &-input {
        position: relative;
        height: 49px;
        width: 100%;
        background-color: #ECEDF0;
        border-radius: 8px;
        padding: 15px 17px;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #818A9E;
        &::placeholder {
            color: #818A9E;
            font-size: 14px;
        }
    }
    &-reset {
        display: none;
        position: absolute;
        top: 50%;
        right: 30px;
        z-index: 2;
        line-height: 0;
        transform: translateY(-50%);
    }
    &-reset-icon {
        width: 9px;
        height: 9px;
    }
    &-list-popup {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 10px 50px rgba(9, 36, 51, 0.15);
        border-radius: 0 0 8px 8px;
    }
    &_active {
    }
    &_active &-input-wrapper {
        visibility: visible;
        width: 370px;
        right: 34px;
    }
    &_active &-input {
    }
    &_active &-button {
        display: block;
    }
    &_active &-link {
        display: none;
    }
    &_active &-list-popup {
        display: block;
    }

    &_dynamic {}
    &_dynamic &-reset {
        display: block;
    }

    @media screen
    and (max-width: $desktop){
        &_active &-input-wrapper {
            width: 305px;
        }
    }
    @media screen
    and (max-width: $notebook){
        &_active &-input-wrapper {
            width: 290px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-input-wrapper {
            top: -9px;
        }
        &-input {
            height: 46px;
            font-size: 12px;
            &::placeholder {
                font-size: 12px;
            }
        }
        &_active &-input-wrapper {
            width: 300px;
        }
        &-icon {
            min-width: 29px;
            width: 29px;
            height: 29px;
            path {
                fill: #2873B9;
            }
        }
        &_active &-input-wrapper {
            right: 44px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-input-wrapper {
            right: 40px;
        }
        &_active &-input-wrapper {
            width: 230px;
        }
    }
    @media screen
    and (max-width: 430px){
        &_active &-input-wrapper {
            width: 140px;
        }
    }
}

.header {
    box-shadow: 0px 5px 50px rgba(9, 36, 51, 0.08);
    margin-bottom: 45px;
    .main-page & {
        margin-bottom: 0;
    }
    &-top {
        height: 50px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #00376A;
    }
    &-top-container {
        display: flex;
        align-items: center;
    }
    &-list {
        display: flex;
        margin-right: auto;
    }
    &-list-item {
        margin-right: 32px;
        color: #fff;
    }
    &-hours {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 22px;
    }
    &-hours-icon {
        margin-right: 8px;
    }

    &-contacts {
        display: flex;
        align-items: center;
    }
    &-contacts-item {
        margin-right: 27px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-contacts-block {
        display: flex;
        align-items: center;
        a {
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }
    &-contacts-icon {
        margin-right: 8px;
    }

    &-menu {
        height: 130px;
    }
    &-menu-panel {
        padding-top: 28px;
        padding-bottom: 30px;
    }
    &-menu-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    &-logo {
        min-width: 108px;
        width: 108px;
        height: 73px;
        margin-right: 67px;
    }
    &-logo-element {}
    &-buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &-buttons-item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-buttons-item_menu {
        display: none;
    }
    &-buttons-item_search {
        margin-right: 0;
    }
    &-buttons-name {}
    &-buttons-item_callback {}
    &-buttons-item_calculate {}

    &-phones {
        display: none;
        align-items: center;
        margin-left: auto;
    }
    &-phones-item {
        margin-right: 27px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-phones-block {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        a {
            color: #202430;
            text-decoration: none;
            &:hover {
                color: #202430;
            }
        }
    }
    &-phones-icon {
        margin-right: 8px;
        path {
            fill: #D40A0A;
        }
    }

    &-menu-panel_fix &-buttons {
        margin-left: 30px;
    }
    &-menu-panel_fix .search_active .search-input-wrapper {
        width: 393px;
    }

    @media screen
    and (min-width: $desktop) {
    }

    @media screen
    and (max-width: $desktop) {
        &-logo {
            margin-right: 30px;
        }
        &-buttons-item {
            margin-right: 13px;
        }
        &-buttons-item_search {
            margin-right: 0;
        }
        &-buttons-name {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-menu-panel_fix &-buttons {
            margin-left: 15px;
        }
        &-menu-panel_fix &-phones-block {
            font-size: 14px;
        }
    }

    @media screen
    and (max-width: $notebook) {
        &-logo {
            min-width: 80px;
            width: 80px;
            margin-right: 20px;
        }
        &-buttons-name {
            height: 45px;
            font-size: 12px;
            line-height: 16px;
        }
        &-menu-panel_fix .search_active .search-input-wrapper {
            width: 290px;
        }
        &-menu-panel_fix .search-input-wrapper {
            right: 36px;
        }
        &-menu-panel_fix &-phones-block {
            font-size: 11px;
            font-weight: 400;
        }
        &-phones-icon {
            width: 13px;
            margin-right: 5px;
        }
    }

    @media screen
    and (min-width: $tablet){
        &-menu-panel_fix {
            position: fixed;
            z-index: 900;
            top: 0;
            width: 100%;
            height: 88px;
            padding-top: 22px;
            padding-bottom: 22px;
            background-color: #fff;
            box-shadow: 0px 5px 50px rgba(9, 36, 51, 0.08);
        }
        &-menu-panel_fix &-logo {
            height: 45px;
            overflow: hidden;
            margin-right: 35px;
        }
        &-menu-panel_fix &-buttons-item_calculate {
            display: none;
        }
        &-menu-panel_fix &-buttons-item_callback {
            display: none;
        }
        &-menu-panel_fix &-logo-element {
            max-height: none;
            height: 73px;
        }
        &-menu-panel_fix &-phones {
            display: flex;
        }
    }

    @media screen
    and (min-width: $tablet) and (max-width: $desktop) {
        &-menu-panel_fix &-logo {
            margin-right: 10px;
        }
        &-menu-panel_fix &-phones-item {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 30px;
        &-logo {
            margin-right: 20px;
            min-width: 116px;
            width: 116px;
            height: 78px;
        }
        &-logo-element {

        }
        &-menu {
            height: 74px;
        }
        &-menu-panel {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &-contacts-block {
            a {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &-hours {
            font-size: 12px;
            line-height: 16px;
        }
        &-list-item {
            margin-right: 28px;
            &:last-child {
                margin-right: 10px;
            }
        }
        &-buttons-item {
            margin-right: 34px;
        }
        &-buttons-item_menu {
            display: inline-block;
        }
        &-buttons-item_search {
            margin-right: 17px;
        }
        &-buttons-item_callback {
            margin-right: 25px;
        }
        &-logo {
            margin-right: 20px;
            min-width: 75px;
            width: 75px;
            height: 44px;
        }
        &-logo {
            margin-right: auto;
        }
        &-menu-panel_fix &-buttons {
            margin-left: auto;
        }
    }

    @media screen
    and (max-width: $mobile){
        margin-bottom: 20px;
        &-top {
            display: none;
        }
        &-buttons-item_callback {
            display: none;
        }
        &-buttons-item_calculate {
            display: none;
        }
    }
}

.location {
    &-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
    }
    &-link_mob {
        display: none;
    }
    &-link-icon {
        margin-left: 7px;
    }

    @media screen
    and (max-width: $tablet){
        &-link {
            display: none;
            font-size: 12px;
            line-height: 16px;
        }
        &-link_mob {
            display: block;
        }
    }
}

.main-menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &-item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #202430;
        text-decoration: none;
        &:hover {
            color: #2873B9;
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            margin-left: 8px;
            margin-right: 8px;
            width: calc(100% - 16px);
            height: 1px;
            background-color: #2873B9;
        }
    }
    &-item:hover &-link:after {
        display: block;
    }

    @media screen
    and (max-width: $desktop) {
        margin-right: 20px;
        &-item {
            margin-right: 14px;
        }
        &-link {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &-services {
        display: flex;
        flex-wrap: wrap;
    }
    &-services-item {
        width: 156px;
        margin-right: 24px;
        margin-bottom: 20px;
        &:nth-child(6n) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &-services-link {
        display: block;
        text-decoration: none;
    }
    &-list-item_services {}
    &-list-link_mob {
        display: none;
    }
    &-services-img {
        display: block;
        width: 100%;
        height: 156px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    &-services-label {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
        color: #202430;
    }
    &-services-link:hover &-services-label {
        color: #D40A0A;
    }

    @media screen
    and (max-width: $notebook) {
    }

    @media screen
    and (max-width: $tablet){
        display: none;
    }
}

.mob {
    &-menu {
        overflow: hidden;
        width: 28px;
    }
    &-menu-switcher {
        display: block;
        line-height: 0;
        margin-left: auto;
    }
    &-menu-switcher-close {
        display: block;
        line-height: 0;
        margin-left: auto;
    }
    &-menu-switcher-icon {
        display: block;
    }
    &-menu-close-icon {
        width: 18px;
        height: 18px;
    }
    &-close-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        min-height: 86px;
        padding: 20px $gutter;
        border-bottom: 1px solid #ECEDF0;
    }
    &-close-panel_simple {
    }
    &-nav {
        margin-bottom: 40px;
    }
    &-company {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-logo {
            margin-right: 20px;
            text-decoration: none;
        }
    }
    &-close {
        position: relative;
        z-index: 3;
        display: block;
        padding: 5px;
        margin-left: auto;
        margin-right: -7px;
        background-color: #fff;
    }

    &-block {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-child {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 0.4s cubic-bezier(.19,1,.22,1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &-menu-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-menu_active &-menu-decor {
    }
    &-block.open {
        transform: translateX(0);
    }
    &-block.open &-child {
        display: block;
    }
    &-child.open {
        transform: translateX(0);
    }

    .mob-is-levels { }
    &-block.mob-is-levels &-nav {
        height: 0;
        overflow: hidden;
    }
    &-block.mob-is-levels &-info {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    &-child.mob-child-is-current {
        overflow-y: auto;
    }
    &-list {
    }
    &-list-item {
        border-bottom: 1px solid #ECEDF0;
        margin-bottom: -1px;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-is-levels &-list-item {
        height: 0;
        overflow: hidden;
    }
    &-child.mob-child-is-current &-list-item {
        height: auto;
        overflow: visible;
    }
    &-back {
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 59px;
        padding: 20px $gutter;
        border: solid #eeeeee;
        border-width: 0 0 1px 0;
        background-color: #fff;
        &:hover {
            background-color: transparent;
            color: #8a8a8a;
        }
    }
    &-back-link {
        display: flex;
        align-items: center;
        margin-right: auto;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #8a8a8a;
        text-decoration: none;
    }
    &-close-link {}
    &-close-icon {
        display: block;
        width: 18px;
        height: 18px;
    }
    &-close-icon path {
        fill: #1B1B1B;
    }

    &-list-link {
        display: flex;
        align-items: center;
        min-height: 59px;
        padding: 20px $gutter 20px;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #202430;
        text-transform: uppercase;
        &:hover {
            color: #202430;
        }
    }
    &-list-link_back {

    }
    &-list-item_profile {
        display: none;
        margin-bottom: 10px;
    }
    &-list-item_active {}
    &-list-item_active &-list-link {
        color: #59A750;
        font-weight: 700;
    }

    &-list-current {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 59px;
        padding: 20px $gutter;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        background-color: #f1f2f6;
        text-decoration: none;
        color: #202430;
        &:hover {
            color: #202430;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 18px;
            width: 12px;
            height: 7px;
            background: url("../images/header/mob-menu-arrow.png") no-repeat 0 0;
        }
    }

    &-list-child-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 57px;
        padding: 12px $gutter;
        text-decoration: none;
        font-size: 15px;
        line-height: 21px;
        color: #1d1d1d;
        &:hover {
            color: #1d1d1d;
        }
    }
    &-back-icon {
        width: 8px;
        margin-right: 12px;
        transform: scaleX(-1);
    }
    &-list-img {
        margin-right: 13px;
        vertical-align: middle;
    }
    &-list-icon {
        width: 9px;
        height: 17px;
        margin-left: auto;
        vertical-align: middle;
    }
    &-link {
        color: #1c1c1c;
    }

    &-list-category {
        display: block;
    }
    &-user-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &-list-link:hover &-list-icon {
    }

    &-info {
        padding-left: $gutter;
        padding-right: $gutter;
        padding-bottom: 30px;
        font-size: 15px;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-info-title {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #1d1d1d;
    }
    &-info-label {
    }
    &-user-info {
        display: flex;
        align-items: center;
    }
    &-callback-button {
        line-height: 0;
    }
    &-socials-title {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
    }
    &-title {
        margin-top: 1px;
        margin-right: 10px;
        font-size: 14px;
        color: #2a364d;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-header-link {
        margin-right: auto;
        font-size: 14px;
        font-weight: 700;
        color: $color;
        &:hover {
            text-decoration: none;
            color: $color;
        }
    }

    &-contacts {
    }
    &-contacts-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-contacts-block {
        display: flex;
    }
    &-contacts-icon {
        margin-right: 5px;
        font-size: 13px;
        color: #1d1d1d;
    }
    &-contacts-description {
        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            color: #1d1d1d;
            &:hover {
                color: #1d1d1d;
            }
        }
    }
    &-contacts-hours {
        font-size: 15px;
        color: #a1a1a1;
    }
    &-catalog-icon {
        margin-right: 7px;
        margin-top: -3px;
    }
    &-list-link-icon {
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
        color: #1d1d1d;
    }
    &-logo {
        min-width: 101px;
        width: 101px;
    }
    &-logo-img {
        display: block;
    }
    &-location {
        display: none;
        background-color: #ECEDF0;
    }
    &-location-link {
        display: flex;
        align-items: center;
        min-height: 59px;
        padding: 20px $gutter;
        text-decoration: none;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #1B1B1B;
    }
    &-location-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #202430;
    }
    &-location-icon {
        width: 18px;
        height: 19px;
        margin-right: 15px;
    }
    &-phone {
        display: none;
        margin-bottom: 10px;
    }
    &-phone-icon {
        width: 17px;
        min-width: 17px;
        height: 16px;
        margin-right: 14px;
        margin-top: 5px;
    }
    &-phone-list-item {
        margin-bottom: 10px;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-phone-number {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-decoration-line: none;
        color: #202430;
        &:hover {
            text-decoration: none;
            color: #202430;
        }
    }
    &-hours {
        display: none;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
    &-hours-icon {
        min-width: 16px;
        width: 16px;
        height: 16px;
        margin-right: 14px;
        margin-top: 2px;
    }
    &-socials {
        margin-bottom: 40px;
    }
    &-buttons {
        display: none;
        text-align: center;
    }
    &-button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    &-button-simple {
        font-size: 12px;
        line-height: 16px;
        color: #202430;
    }
    &-services {
        display: flex;
        flex-wrap: wrap;
        padding-left: $gutter;
        padding-right: $gutter;
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: 20px;
    }
    &-services-item {
        width: 112px;
        padding-left: 7px;
        padding-right: 7px;
    }
    &-services-link {
        display: block;
        text-decoration: none;
    }
    &-list-item_services {}
    &-list-link_mob {
        display: none;
    }
    &-services-img {
        display: block;
        width: 100%;
        height: 98px;
        object-fit: cover;
        margin-bottom: 5px;
    }
    &-services-label {
        display: block;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
        color: #202430;
    }
    &-services-link:hover &-services-label {
        color: #D40A0A;
    }
    &-search-form {
        flex-grow: 1;
        margin-right: 32px;
    }
    &-search-container {
        position: relative;
    }
    &-search-input {
        width: 100%;
        height: 46px;
        background-color: #ECEDF0;
        border-radius: 8px;
        padding: 15px 16px;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #818A9E;
        transition: width 0.2s linear, visibility 0.2s linear;
        &::placeholder {
            color: #818A9E;
            font-size: 12px;
        }
    }
    &-search-container.search_dynamic {
        margin-right: 20px;
    }
    &-search-reset {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #2873B9;
        text-decoration: none;
        background-color: #fff;
    }
    .search_dynamic &-search-reset {
        display: block;
    }
    &-search-result {
        position: fixed;
        top: 138px;
        left: 0;
        z-index: 1;
        background-color: #fff;
        height: calc(100vh - 90px);
        width: 100%;
    }
    &-search-list {}
    &-search-list-item {
        border-bottom: 1px solid #ECEDF0;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-search-list-link {
        display: flex;
        align-items: center;
        padding: 20px 30px;
        text-decoration: none;
        font-size: 14px;
        line-height: 19px;
        color: #202430;
        &:hover {
            color: #202430;
        }
    }
    &-search-list-label {
        span {
            font-weight: 700;
        }
    }
    &-search-list-icon {
        margin-right: 15px;
    }

    @media screen
    and (max-width: $tablet){
        .header-menu-panel_fix &-menu-switcher {
            position: fixed;
            top: 20px;
            right: 12px;
            z-index: 900;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
        }
        .header-menu-panel_fix &-block {
            top: 0;
            height: 100%;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-block {
            top: 0;
            height: 100%;
        }
        &-nav {
            margin-bottom: 30px;
        }
        &-phone {
            display: block;
        }
        &-hours {
            display: flex;
        }
        &-buttons {
            display: block;
        }
        &-location {
            display: block;
        }
        &-services {
            display: none;
        }
        &-list-link_mob {
            display: flex;
        }
        &-list-link_tablet {
            display: none;
        }
        &-search-form {
            flex-grow: 1;
            margin-right: 20px;
        }
    }
}

body.mob-menu-show {
    overflow: hidden;
}

.main-submenu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 2;
    width: calc(100% - 220px);
    min-height: 293px;
    margin-left: 110px;
    &-block {
        margin-top: 52px;
        padding: 30px 30px;
        background-color: #fff;
        box-shadow: 0px 26px 20px rgba(0, 0, 0, 0.05);
    }
    &-list {
        width: 39%;
        position: relative;
    }
    &-item {
    }
    &-link {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 14px;
        line-height: 19px;
        color: #818A9E;
        letter-spacing: normal;
    }
    &-item:hover &-link {
        color: #202430;
    }
    &-item:hover &-link:hover {
        color: #D40A0A;
    }
    &-icon {
        margin-left: auto;
        min-width: 16px;
        width: 16px;
        height: 9px;
        padding-left: 10px;
    }
    &-item:hover &-icon path {
        fill: #202430;
    }
    &-item:hover &-link:hover &-icon path {
        fill: #D40A0A;
    }
    &_simple {
        width: auto;
        margin-right: 110px;
    }
    &_simple &-block {
        padding-bottom: 15px;
    }
}
.main-menu-item:hover .main-submenu {
    display: block;
}


.menu {
    &-list {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 293px;
        height: 100%;
        padding-bottom: 30px;
        padding-left: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &-item {
        width: 56%;
    }
    &-link {
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        line-height: 19px;
        color: #818A9E;
        text-decoration: none;
        &:hover {
            color: #D50A0A;
        }
    }
}
.main-submenu-item:hover .menu-list {
    display: flex;
}

.socials {
    &-list {
        display: flex;
    }
    &-item {
        margin-right: 17px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        display: block;
        line-height: 0;
    }
    &-icon {}
    &-icon_youtube {}
    &-icon_tg {}
    &-icon_whatsapp {}
    &-list_light {}
    &-list_light &-icon path {
        fill: #fff;
    }
    &-list_light &-link:hover &-icon_youtube path {
        fill: #E31E24;
    }
    &-list_light &-link:hover &-icon_tg path {
        fill: #2873B9;
    }
    &-list_light &-link:hover &-icon_whatsapp path {
        fill: #47B157;
    }
    @media screen
    and (max-width: $tablet){
        &-item {
            margin-right: 12px;
        }
    }
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/* /IE 11 */

@media screen
and (min-width: $tablet){
    .header-menu-panel_fix .main-submenu {
        top: 35px;
    }
    .header-menu-panel_fix .main-submenu-block {
        margin-top: 31px;
    }
}