
.main-banner {
    margin-bottom: 120px;
    &-block {
        position: relative;
    }
    &-list {
        position: relative;
    }
    &-item {
        overflow: hidden;
    }
    &-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 619px;
    }
    &-pic {
        height: 100%;
        max-width: none;
        object-fit: cover;
    }
    &-decor-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &-decor-2 {
        position: absolute;
        top: 0;
        right: 168px;
        width: 1459px;
        height: 100%;
        background: linear-gradient(to right, rgba(95, 84, 74, 1) 47.52%, rgba(95, 84, 74, 0) 100%);
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(95, 84, 74, 1);
        }
    }
    &-decor-3 {
        position: absolute;
        top: 0;
        left: 100%;
        width: 325px;
        height: 100%;
        background: url("../images/main-banner/main-banner-decor-3.png") repeat-y left top;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: #000;
        }
    }
    &-detail {
        position: absolute;
        top: 160px;
        left: 30px;
        z-index: 1;
        max-width: 500px;
        text-align: left;
    }
    &-name {
        display: block;
        margin-bottom: 27px;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #FFFFFF;
    }
    &-description {
        position: relative;
        margin-bottom: 33px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 2px;
            max-width: none;
            height: calc(100% - 10px);
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    &-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-button {
        margin-right: 38px;
    }
    &-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
        }
    }
    &-icon {
        margin-right: 15px;
        transition: transform 0.15s linear;
    }
    &-link:hover &-icon {
        transform: scale(1.19);
    }
    &-pagination {
        position: absolute;
        bottom: 49px!important;
        left: 50%;
        z-index: 1;
    }
    &-slider-button {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translateY(-50%);
        background-color: #fff;
        &:hover {
            background-color: #D50A0A;
        }
    }
    &:hover &-slider-button {
        visibility: visible;
    }
    &-slider-button_prev {
        margin-left: -693px;
    }
    &-slider-button_next {
        margin-left: 660px;
    }
    &-slider-button &-slider-icon path {
        fill: #D40A0A;
    }
    &-slider-button:hover &-slider-icon path {
        fill: #fff;
    }
    &-slider-button:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #E31E24;
    }
    &-slider-button:active &-slider-icon path {
        fill: #fff;
    }
    &-slider-button.slider-button_disabled {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &-slider-button.slider-button_disabled &-slider-icon path {
        fill: #C5C6C7;
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        margin-right: 3px!important;
        margin-left: 3px!important;
    }

    @media screen
    and (max-width: $desktop){
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 50px;
        &-container {
            height: 491px;
        }
        &-link {
            display: none;
        }
        &-name {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 24px;
        }
        &-detail {
            top: 148px;
        }
        &-description {
            margin-bottom: 20px;
            padding-left: 17px;
            font-size: 14px;
            line-height: 19px;
            &:after {
                top: 5px;
                height: calc(100% - 6px);
            }
        }
        &-decor-2 {
            left: -30px;
            width: 160px;
            background-image: url("../images/main-banner/main-banner-decor-2-tablet.png")
        }
        &-decor-3 {
            left: auto;
            right: -30px;
            width: 144px;
            background-image: url("../images/main-banner/main-banner-decor-3-tablet.png")
        }
        &-pagination {
            bottom: 33px!important;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-container {
            height: 500px;
        }
        &-detail {
            top: 83px;
            left: 20px;
            padding-right: 20px;
        }
        &-name {
            margin-bottom: 35px;
        }
        &-description {
            margin-bottom: 35px;
        }
        &-decor-2 {
            left: -20px;
        }
        &-decor-3 {
            right: -20px;
        }
        &-pagination {
            bottom: 32px!important;
        }
    }
}

.block-panel {
    position: relative;
}

.products {
    margin-bottom: 107px;
    &-list {
        display: flex;
        margin-bottom: 130px;
    }
    &-list-item {
        width: 298px;
    }
    &-list-item:hover {
    }
    &-list-item_more {
    }
    &-pagination {
        display: inline-block;
        text-align: center;
    }
    &-container {
        padding-top: 6px;
    }
    &-slider-nav {}

    &_simple {
        margin-bottom: 0;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 120px;
        &-container {
            padding-top: 0;
        }
        &-list {
            margin-bottom: 40px;
        }
        &-list-item {
            width: 210px;
            min-height: 100%;
            height: auto;
        }
        &_simple {
            margin-bottom: 0;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-list-item {
            width: 206px;
        }
    }
}


.product {
    display: block;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    background-color: #fff;
    transition: top 0.1s linear;
    &:hover {
        top: -10px;
        margin-bottom: -84px;
        padding-bottom: 84px;
    }
    &-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 298px;
    }
    &-img {
        display: block;
    }
    &-info {
        display: block;
        padding: 20px 30px 30px;
    }
    &-name {
        display: block;
        min-height: 60px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    &:hover &-box {
        display: block;
    }
    &_more {
        display: flex;
        flex-direction: column;
    }
    &_more:hover {
    }
    &_more &-info {
        margin-top: auto;
    }
    &_more &-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &_more &-box {
        text-align: center;
    }
    &-icon-wrapper {
        height: 298px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #FAFAFA;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}

    &-actions {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.85);
    }
    &:hover &-actions {
        visibility: visible;
    }

    &_simple {
        &:hover {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    @media screen
    and (max-width: $tablet){
        display: flex;
        flex-direction: column;
        &:hover {
            top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 14px 20px 25px;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 162px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
        }
        &-box {
            margin-top: auto;
            position: static;
            display: block;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }
        &-more {
            width: 100%;
        }
        &-icon-wrapper {
            height: 206px;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
        &-pic {
            height: 206px;
        }
        &-actions {
            margin-top: auto;
            visibility: visible;
            position: static;
            width: 100%;
            height: auto;
            display: block;
            background-color: transparent;
            text-align: center;
        }
        &_simple &-name {
            max-width: 243px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &_simple &-info {
            padding-bottom: 40px;
        }
    }
}


.services {
    margin-bottom: 195px;
    &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
    }
    &-list-item {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-list-item:nth-child(3) ~ &-list-item {
        display: none;
    }
    &-list-item:hover {
    }
    &-list-item_more {
    }
    &-pagination {
        display: inline-block;
        text-align: center;
    }
    &-container {
    }
    &-slider-nav {
        display: none;
    }

    &-link {
        display: block;
        width: 298px;
        height: 100%;
        min-height: 100%;
        position: relative;
        top: 0;
        box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;
        background-color: #fff;
        transition: top 0.1s linear;
        &:hover {
            top: -10px;
            margin-bottom: -84px;
            padding-bottom: 84px;
        }
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-info {
        display: block;
        padding: 20px 30px 30px;
    }
    &-name {
        display: block;
        min-height: 60px;
        max-width: 200px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    &_more:hover {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &-link:hover &-box {
        display: block;
    }
    &-link_more {
        display: flex;
        flex-direction: column;
    }
    &-link_more &-info {
        margin-top: auto;
    }
    &-link_more &-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &-link_more &-box {
        text-align: center;
    }
    &-link_more &-more {
        min-width: auto;
    }
    &-icon-wrapper {
        height: 298px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #FAFAFA;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 120px;
        &-list {
            margin-bottom: 40px;
            justify-content: normal;
        }
        &-list-item {
            width: auto;
            min-height: 100%;
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
        &-list-item_more {
            display: block;
        }
        &-list-item:nth-child(3) ~ &-list-item {
            display: block;
        }
        &-link {
            width: 210px;
        }
        &-link:hover {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-info {
            padding: 14px 20px 25px;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 162px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
        }
        &-box {
            position: static;
            display: block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
        &-more {
            width: 100%;
            background-color: #2873B9;
            &:hover {
                background-color: #2873B9;
            }
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2873B9;
            }
        }
        &-icon-wrapper {
            height: 210px;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
        &-slider-nav {
            display: flex;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-link {
            width: 206px;
        }
        &-icon-wrapper {
            height: 206px;
        }
    }
}

.about {
    margin-bottom: 132px;
    &-container {
        display: flex;
    }
    &-img {
        width: 51%;
        padding-right: 30px;
    }
    &-pic {
        display: block;
    }
    &-detail {
        width: 49%;
    }
    &-name {
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-detail-content {
        margin-bottom: 22px;
    }
    &-actions {}
    &-button {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 100px;
        &-container {
            display: flex;
        }
        &-img {
            padding-right: 15px;
        }
        &-pic {
            object-fit: cover;
            height: 100%;
        }
        &-button {
            background-color: #D40A0A;
            color: #fff;
        }
        &-name {
            padding-left: 15px;
            font-size: 14px;
            line-height: 19px;
            border-left: 3px solid #2873B9;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 100px;
        &-container {
            flex-direction: column;
        }
        &-img {
            width: auto;
            margin-bottom: 30px;
            padding-right: 0;
            margin-left: -20px;
            margin-right: -20px;
        }
        &-pic {
            height: 320px;
        }
        &-detail {
            width: 100%;
        }
        &-name {
            margin-bottom: 30px;
        }
        &-detail-content {
            margin-bottom: 30px;
        }
        &-actions {
            text-align: center;
        }
    }
}

.feedback {
    position: relative;
    margin-bottom: 100px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 100vw;
        height: 100%;
        background-color: #211D50;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100%;
        background-color: #542121;
    }
    &-container {
        position: relative;
        z-index: 1;
        display: flex;
        margin-bottom: 100px;
        min-height: 457px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -320px;
            z-index: 1;
            width: 457px;
            height: 100%;
            background: linear-gradient(to right, #211D50 22.71%, rgba(33, 29, 80, 0) 100%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -320px;
            width: 457px;
            height: 100%;
            background: linear-gradient(to left, #542121 22.71%, rgba(84, 33, 33, 0) 100%);
        }
    }
    &-decor {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1870px;
        height: 100%;
        max-width: none;
        max-height: none;
        background: url("../images/feedback/feedback-img-1.png") no-repeat 0 0;
    }
    &-block {
        position: relative;
        z-index: 1;
        width: 418px;
        min-height: 100%;
        margin-left: 46.4%;
        padding: 60px;
        background-color: #fff;
        box-shadow: 0 10px 50px rgba(9, 36, 51, 0.15);
    }
    &-name {
        display: block;
        margin-bottom: 39px;
        text-transform: none;
        text-align: left;
    }
    &-detail {
        position: relative;
        margin-bottom: 39px;
        padding-left: 27px;
        border-left: 3px solid #2873B9;
    }
    &_questions {
        margin-bottom: 119px;
        &:before {
            background-color: #51527A;
        }
        &:after {
            background-color: #965A5A;
        }
    }
    &_questions &-container {
        min-height: 411px;
        &:before {
            left: -161px;
            width: 411px;
            background: linear-gradient(to right, #51527A 0%, #5E5F85 46.67%, rgba(94, 95, 133, 0) 100%);
        }
        &:after {
            right: -150px;
            width: 411px;
            background: linear-gradient(to left, #965A5A 0%, #A16E6E 46.67%, rgba(161, 110, 110, 0.0332034) 99.99%, rgba(94, 95, 133, 0) 100%);
        }
    }
    &_questions &-decor {
        width: 1440px;
        background-image: url("../images/feedback/feedback-img-2.png");
    }

    @media screen
    and (max-width: $tablet){
        &-container {
            min-height: 345px;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        &-block {
            width: 280px;
            padding: 31px 34px 30px;
        }
        &-name {
            margin-bottom: 35px;
            font-size: 22px;
            line-height: 24px;
        }
        &-detail {
            margin-bottom: 35px;
            padding-left: 15px
        }
        &-decor {
            background-position:  0 -25px;
            background-size: 83% auto;
            transform: translateX(-38.7%);
        }
        &_questions &-container {
            min-height: 282px;
        }
        &_questions &-block {
            margin-left: 38%;
        }
        &_questions &-decor {
            transform: translateX(-28%);
            background-size: auto auto;
            background-position: 0 -46px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-block {
            width: 280px;
            margin-left: auto;
            margin-right: auto;
        }
        &-decor {
            transform: translateX(-40%);
        }
        &_questions &-block {
            margin-left: auto;
        }
    }
}


.projects {
    margin-bottom: 112px;
    &-list {
        margin-bottom: 130px;
    }
    &-list-item {
        width: auto;
    }
    &-list-item:hover {
    }
    &-list-item_more {
    }
    &-pagination {
        display: inline-block;
        text-align: center;
    }
    &-container {
    }
    &-slider-nav {
    }

    &-link {
        display: block;
        width: 407px;
        height: 100%;
        min-height: 100%;
        position: relative;
        top: 0;
        box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;
        background-color: #fff;
        transition: top 0.1s linear;
        &:hover {
            top: -10px;
            margin-bottom: -84px;
            padding-bottom: 84px;
        }
    }
    &-img {
        display: block;
        width: 100%;
        height: 298px;
        object-fit: cover;
    }
    &-info {
        display: block;
        padding: 20px 30px 30px;
    }
    &-name {
        display: block;
        max-width: 300px;
        min-height: 60px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    &_more:hover {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &-link:hover &-box {
        display: block;
    }
    &-link_more {
        display: flex;
        flex-direction: column;
        width: 298px;
    }
    &-link_more &-info {
        margin-top: auto;
    }
    &-link_more &-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &-link_more &-box {
        text-align: center;
    }
    &-link_more &-more {
        min-width: auto;
    }
    &-icon-wrapper {
        height: 298px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #FAFAFA;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}

    &_simple {}
    &_simple &-link {
        width: 298px;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 120px;
        &-list {
            margin-bottom: 40px;
            justify-content: normal;
        }
        &-list-item {
            width: auto;
            min-height: 100%;
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
        &-list-item_more {
            display: block;
        }
        &-link {
            width: 323px;
        }
        &-link:hover {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-img {
            height: 175px;
            object-fit: cover;
        }
        &-info {
            padding: 20px;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: none;
            min-height: 38px;
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 19px;
        }
        &-box {
            position: static;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
        &-icon-wrapper {
            height: 175px;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
    }
    @media screen
    and (max-width: $mobile){
        &-link {
            width: 245px;
        }
        &-info {
            padding-top: 12px;
            padding-bottom: 25px;
        }
    }
}

.news {
    margin-bottom: 120px;
    &-container {}
    &-container-item {}
    &-block {
        overflow: hidden;
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
        border-radius: 5px;
    }
    &-link {
        display: block;
    }
    &-img {
        display: block;
        width: 100%;
        height: 267px;
        object-fit: cover;
    }
    &-info {
        padding: 30px;
    }
    &-name {
        display: block;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #202430;
        }
    }
    &-date {
        display: block;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #C5C6C7;
    }
    &-description {
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 19px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 4;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
    &-button {
        visibility: hidden;
    }
    &-block:hover &-button {
        visibility: visible;
    }

    &-list {
        display: block;
    }
    &-list-item {
        margin-bottom: 28px;
        min-height: 100%;
        height: auto;
    }
    &-list-item_more {
        display: none;
    }
    &-list-block {
        display: flex;
        overflow: hidden;
        min-height: 265px;
        background-color: #fff;
        box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
        border-radius: 5px;
    }
    &-list-link {
        width: 298px;
        min-width: 298px;
        display: flex;
        overflow: hidden;
    }
    &-list-img {
        height: 100%;
        object-fit: cover;
    }
    &-list-block:hover &-button {
        visibility: visible;
    }
    &-list &-description {
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    &-slider-nav {
        display: none;
    }
    &-list-block_more {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    &-icon-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #FAFAFA;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}
    &-list-name {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        color: #202430;
    }
    &-list-box {
        display: block;
        text-align: center;
    }
    &-list-item_more &-info {
        margin-top: auto;
    }

    @media screen
    and (min-width: $tablet){
        &-list-item {
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }

    @media screen
    and (max-width: $tablet){
        &-container-item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-block {
            display: flex;
            min-height: 333px;
        }
        &-link {
            width: 49%;
            min-width: 49%;
        }
        &-img {
            height: 100%;
        }
        &-list {
            display: flex;
            width: auto;
            margin-left: -7px;
            margin-right: -7px;
        }
        &-list-item {
            width: 50%;
            padding-left: 7px;
            padding-right: 7px;
        }
        &-list-block {
            flex-direction: column;
            height: 100%;
        }
        &-list-link {
            width: 100%;
            min-width: auto;
        }
        &-list-img {
            width: 100%;
            height: 200px;
        }
        &-button {
            visibility: visible;
        }
        &-info {
            padding: 20px 19px;
        }
        &-name {
            min-height: 38px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 19px;
        }
        &-date {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 16px;
        }
        &-description {
            margin-bottom: 20px;
            min-height: 38px;
            -ms-line-clamp: 7;
            -webkit-line-clamp: 7;
            line-clamp: 7;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
        &-list-name {
            font-weight: 500;
            font-size: 14px;
        }
        &-list-block_more {
            width: 245px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-container-item {
            margin-bottom: 50px;
        }
        &-block {
            flex-direction: column;
        }
        &-link {
            width: 100%;
            min-width: 100%;
        }
        &-img {
            height: 200px;
        }
        &-description {
            -ms-line-clamp: 8;
            -webkit-line-clamp: 8;
            line-clamp: 8;
        }
        &-list {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 40px;
        }
        &-list-item {
            width: auto;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
        }
        &-list-item_more {
            display: block;
        }
        &-list-block {
            width: 245px;
        }
        &-list-img {
            height: 175px;
        }
        &-slider-nav {
            display: flex;
        }
    }
}

.map {
    margin-bottom: 125px;
    max-width: 1107px;
    margin-left: auto;
    margin-right: auto;
    &-block {
        position: relative;
    }
    &-element {
        position: relative;
    }
    &-info {
        position: absolute;
        top: 33%;
        left: 51.4%;
        z-index: 1;
        width: 280px;
        padding-left: 27px;
        border-left: 3px solid #2873B9;
        font-size: 16px;
        line-height: 24px;
        color: #818A9E;
    }
    &-point-icon {
        width: 11px;
        height: 11px;
        background-color: #D50A0A;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.1s linear;
    }
    &-point-baloon {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        width: 205px;
        padding-bottom: 8px;
    }
    &-point-baloon-content {
        padding: 15px 20px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(9, 36, 51, 0.15);
        border-radius: 8px;
        text-align: center;
    }
    &-city {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #202430;
    }
    &-phone {
        font-size: 14px;
        line-height: 19px;
        color: #818A9E;
        a {
            text-decoration: none;
        }
    }
    &-point {
        position: absolute;
        top: 0;
        left: 0;
    }
    &-point-1 {
        top: 63%;
        left: 11%;
    }
    &-point-2 {
        top: 59.4%;
        left: 42%;
    }
    &-point-3 {
        top: 80.3%;
        left: 15.4%;
    }
    &-point-4 {
        top: 83.5%;
        left: 10.8%;
    }
    &-point-5 {
        top: 80.2%;
        left: 68%;
    }
    &-point-6 {
        top: 62%;
        left: 37%;
    }
    &-point-7 {
        top: 80%;
        left: 28%;
    }
    &-point-8 {
        top: 69.5%;
        left: 5.4%;
    }
    &-point-9 {
        top: 46.3%;
        left: 6.5%;
    }
    &-point-10 {
        top: 75%;
        left: 15.6%;
    }
    &-point-11 {
        top: 63%;
        left: 19%;
    }
    &-point-12 {
        top: 62%;
        left: 24%;
    }
    &-point-13 {
        top: 69%;
        left: 18%;
    }
    &-point-14 {
        top: 62%;
        left: 14%;
    }
    &-point:hover &-point-baloon {
        display: block;
    }
    &-point:hover &-point-icon {
        transform: scale(1.3);
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &-svg {
            height: 440px;
        }
    }

    @media screen
    and (max-width: $tablet) {
        &-info {
            position: static;
            width: 433px;
            margin-bottom: 35px;
            padding-left: 20px;
            color: #202430;
            font-size: 14px;
            line-height: 19px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-info {
            width: auto;
            margin-bottom: 30px;
            padding-left: 18px;
        }
        &-point-icon {
            width: 9px;
            height: 9px;
        }
        &-point-baloon {
            width: 180px;
        }
        &-city {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 19px;
        }
        &-phone {
            font-size: 12px;
            line-height: 18px;
        }
        &-point-9 &-point-baloon {
            margin-left: 26px;
        }
    }
}


.clients {
    margin-bottom: 107px;
    &-list-wrapper {}
    &-list {
        margin-bottom: 45px;
    }
    &-list-block {
        width: auto;
        display: flex;
    }
    &-list-item {
        margin-right: 30px;
    }
    &-link {
        width: 188px;
        height: 188px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-img {}

    @media screen
    and (max-width: $tablet) {
        margin-bottom: 120px;
        &-list {
            margin-bottom: 40px;
        }
        &-list-item {
            margin-right: 18px;
        }
        &-link {
            width: 115px;
            height: 115px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-list {
            margin-bottom: 30px;
        }
        &-list-block {
            width: 263px;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        &-link {
            width: 113px;
            height: 113px;
        }
    }
}

.information {
    &-title {
        margin-bottom: 50px;
    }
    &-content {
        text-align: center;
        max-width: 1062px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen
    and (max-width: $tablet) {
        &-title {
            margin-bottom: 35px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-content {
            text-align: left;
        }
    }
}
