
.main-banner {
    margin-bottom: 120px;
    &-block {
        position: relative;
    }
    &-list {
        position: relative;
    }
    &-item {
        overflow: hidden;
    }
    &-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 619px;
    }
    &-pic {
        height: 100%;
        max-width: none;
    }
    &-decor-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &-decor-2 {
        position: absolute;
        top: 0;
        right: 140px;
        width: 1143px;
        height: 100%;
        background: url("../images/main-banner/main-banner-decor-2.png") repeat-y right top;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(95, 84, 74, 0.89);
        }
    }
    &-decor-3 {
        position: absolute;
        top: 0;
        left: 100%;
        width: 325px;
        height: 100%;
        background: url("../images/main-banner/main-banner-decor-3.png") repeat-y left top;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: #000;
        }
    }
    &-detail {
        position: absolute;
        top: 160px;
        left: 30px;
        z-index: 1;
        max-width: 500px;
        text-align: left;
    }
    &-name {
        display: block;
        margin-bottom: 27px;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #FFFFFF;
    }
    &-description {
        position: relative;
        margin-bottom: 33px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 2px;
            max-width: none;
            height: calc(100% - 10px);
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    &-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-button {
        margin-right: 38px;
    }
    &-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
        }
    }
    &-icon {
        margin-right: 15px;
        transition: transform 0.15s linear;
    }
    &-link:hover &-icon {
        transform: scale(1.19);
    }
    &-pagination {
        position: absolute;
        bottom: 49px!important;
        left: 50%;
        z-index: 1;
    }
    &-slider-button {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translateY(-50%);
        background-color: #fff;
        &:hover {
            background-color: #D50A0A;
        }
    }
    &:hover &-slider-button {
        visibility: visible;
    }
    &-slider-button_prev {
        margin-left: -693px;
    }
    &-slider-button_next {
        margin-left: 660px;
    }
    &-slider-button &-slider-icon path {
        fill: #D40A0A;
    }
    &-slider-button:hover &-slider-icon path {
        fill: #fff;
    }
    &-slider-button:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #E31E24;
    }
    &-slider-button:active &-slider-icon path {
        fill: #fff;
    }
    &-slider-button.slider-button_disabled {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &-slider-button.slider-button_disabled &-slider-icon path {
        fill: #C5C6C7;
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        margin-right: 3px!important;
        margin-left: 3px!important;
    }

    @media screen
    and (max-width: $desktop){
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 50px;
        &-container {
            height: 491px;
        }
        &-link {
            display: none;
        }
        &-name {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 24px;
        }
        &-detail {
            top: 148px;
        }
        &-description {
            margin-bottom: 20px;
            padding-left: 17px;
            font-size: 14px;
            line-height: 19px;
            &:after {
                top: 5px;
                height: calc(100% - 6px);
            }
        }
        &-decor-2 {
            left: -30px;
            width: 160px;
            background-image: url("../images/main-banner/main-banner-decor-2-tablet.png")
        }
        &-decor-3 {
            left: auto;
            right: -30px;
            width: 144px;
            background-image: url("../images/main-banner/main-banner-decor-3-tablet.png")
        }
        &-pagination {
            bottom: 33px!important;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-container {
            height: 500px;
        }
        &-detail {
            top: 83px;
            left: 20px;
            padding-right: 20px;
        }
        &-name {
            margin-bottom: 35px;
        }
        &-description {
            margin-bottom: 35px;
        }
        &-decor-2 {
            left: -20px;
        }
        &-decor-3 {
            right: -20px;
        }
        &-pagination {
            bottom: 32px!important;
        }
    }
}

.block-panel {
    position: relative;
}

.products {
    margin-bottom: 107px;
    &-list {
        display: flex;
        margin-bottom: 130px;
    }
    &-list-item {
        width: 298px;
    }
    &-list-item:hover {
    }
    &-list-item_more {
        display: none;
        min-height: 100%;
        height: auto;
    }
    &-pagination {
        display: inline-block;
        text-align: center;
    }
    &-container {
    }
    &-slider-nav {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 120px;
        &-list {
            margin-bottom: 40px;
        }
        &-list-item {
            width: 210px;
            min-height: 100%;
            height: auto;
        }
        &-list-item_more {
            display: block;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-list-item {
            width: 206px;
        }
    }
}


.product {
    display: block;
    height: 100%;
    min-height: 100%;
    position: relative;
    box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    background-color: #fff;
    transition: margin-top 0.1s linear;
    &:hover {
        margin-top: -10px;
        margin-bottom: -84px;
        padding-bottom: 84px;
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-info {
        display: block;
        padding: 20px 30px 30px;
    }
    &-name {
        display: block;
        min-height: 60px;
        max-width: 200px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 100%;
    }
    &_more:hover {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &:hover &-box {
        display: block;
    }
    &_more {
        display: flex;
        flex-direction: column;
    }
    &_more &-info {
        margin-top: auto;
    }
    &_more &-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &_more &-box {
        position: static;
        display: block;
        text-align: center;
    }
    &-icon-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}

    @media screen
    and (max-width: $tablet){
        &:hover {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-info {
            padding: 14px 20px 25px;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 162px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
        }
        &-box {
            position: static;
            display: block;
            text-align: center;
        }
        &-more {
            min-width: 170px;
        }
        &_more &-more {
            min-width: auto;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
    }
}


.services {
    margin-bottom: 195px;
    &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
    }
    &-list-item {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-list-item:nth-child(3) ~ &-list-item {
        display: none;
    }
    &-list-item:hover {
    }
    &-list-item_more {
        display: none;
        min-height: 100%;
        height: auto;
    }
    &-pagination {
        display: inline-block;
        text-align: center;
    }
    &-container {
    }
    &-slider-nav {
        display: none;
    }

    &-link {
        display: block;
        width: 298px;
        height: 100%;
        min-height: 100%;
        position: relative;
        box-shadow: 0px 10px 75px rgba(9, 36, 51, 0.15);
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;
        background-color: #fff;
        transition: margin-top 0.1s linear;
        &:hover {
            margin-top: -10px;
            margin-bottom: -84px;
            padding-bottom: 84px;
        }
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-info {
        display: block;
        padding: 20px 30px 30px;
    }
    &-name {
        display: block;
        min-height: 60px;
        max-width: 200px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-box {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 100%;
    }
    &_more:hover {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &-link:hover &-box {
        display: block;
    }
    &-link_more {
        display: flex;
        flex-direction: column;
    }
    &-link_more &-info {
        margin-top: auto;
    }
    &-link_more &-name {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &-link_more &-box {
        position: static;
        display: block;
        text-align: center;
    }
    &-more {
        min-width: 170px;
    }
    &-link_more &-more {
        min-width: auto;
    }
    &-icon-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    &-icon-element {
        width: 19px;
        height: 32px;
    }
    &-more-button {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 120px;
        &-list {
            margin-bottom: 40px;
            justify-content: normal;
        }
        &-list-item {
            width: auto;
            min-height: 100%;
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
        &-list-item_more {
            display: block;
        }
        &-list-item:nth-child(3) ~ &-list-item {
            display: block;
        }
        &-link {
            width: 210px;
        }
        &-link:hover {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-info {
            padding: 14px 20px 25px;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 162px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
        }
        &-box {
            position: static;
            display: block;
            text-align: center;
        }
        &-more {
            min-width: 170px;
            background-color: #2873B9;
            &:hover {
                background-color: #2873B9;
            }
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2873B9;
            }
        }
        &-link_more &-more {
            min-width: auto;
        }
        &-icon {
            width: 70px;
            height: 70px;
            background-color: #D50A0A;
        }
        &-icon-element {
            width: 25px;
            height: 25px;
            path {
                fill: #fff;
            }
        }
        &-slider-nav {
            display: flex;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-link {
            width: 206px;
        }
    }
}

.about {
    margin-bottom: 125px;
    &-container {
        display: flex;
    }
    &-img {
        width: 52%;
        padding-right: 30px;
    }
    &-pic {

    }
    &-detail {
        width: 48%;
    }
    &-name {
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 20px;
        color: #202430;
    }
    &-detail-content {
        margin-bottom: 22px;
    }
    &-button {}

    @media screen
    and (max-width: $tablet){
        &-container {
            display: flex;
        }
        &-img {
            padding-right: 15px;
        }
        &-pic {
            object-fit: cover;
            height: 100%;
        }
        &-button {
            background-color: #D40A0A;
            color: #fff;
        }
        &-name {
            padding-left: 15px;
            font-size: 14px;
            line-height: 19px;
            border-left: 3px solid #2873B9;
        }
    }
}

