
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0,0,0,0.6);
}

.fancybox-slide {
    padding: 30px 40px;
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: -23px;
    left: 100%;
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
}
.fancybox-close:hover {
}

.fancybox-close-icon {
    path {
        fill: #fff;
    }
}
.fancybox-close:hover .fancybox-close-icon {
    color: #fff;
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_right {
    width: 63px;
    height: 100%;
    padding-right: 22px;
    background-color: transparent;
}

.fancybox-button--arrow_left {
    width: 63px;
    height: 100%;
    padding-left: 22px;
    background-color: transparent;
}

.fancybox-button-icon {
    display: block;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &_left { }
    &_right {
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
    color: #c4c4c4;
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}
/* /Fancybox */



@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.popup {
    width: 798px;
    background-color: #fff;
    padding: 44px 33px 52px;
    border-radius: 5px;
    &-title {
        margin-bottom: 20px;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 39px;
        color: #1B1B1B;
    }
    &-info {
        margin-bottom: 33px;
        letter-spacing: -0.01em;
        color: #4F4F4F;
        font-size: 15px;
        line-height: 25px;
    }
    &_booking {}
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.location-popup {
    position: absolute;
    top: calc(100% + 32px);
    left: -31px;
    z-index: 2;
    width: 356px;
    padding: 27px 30px 34px;
    background-color: #fff;
    border-radius: 4px;
    border: 0.5px solid #D1D2DB;
    box-shadow: 0 0 10px rgba(197, 195, 199, 0.25);
    &-info {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #1B1B1B;
        a {
            font-weight: 600;
        }
    }
    &-actions {
        display: flex;
    }
    &-button {
        width: 138px;
        padding-left: 27px;
        padding-right: 27px;
        margin-right: 20px;
        border-color: #D1D2DB;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            padding-right: 27px;
        }
    }
    &-icon {
        position: absolute;
        top: -15px;
        left: 44px;
        z-index: 1;
        width: 32px;
        height: 15px;
        overflow: hidden;
    }
}

.popup-city {
    width: 297px;
    padding: 29px 29px 47px;
    &-title {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #1B1B1B;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-list-item {
        margin-right: 23px;
    }
}

.map-popup {
    max-width: 250px;
}


@media screen
and (max-width: $tablet){
    .popup {
        padding: 34px 20px 42px;
        &-title {
            font-size: 26px;
            line-height: 38px;
        }
        &-info {
            margin-bottom: 25px;
            font-size: 13px;
            line-height: 21px;
        }
    }
    .location-popup {
        top: calc(100% + 24px);
        width: 270px;
        padding: 20px 21px 25px;
        &-info {
            margin-bottom: 23px;
            font-size: 13px;
            line-height: 21px;
        }
        &-button {
            width: 103px;
        }
    }
    .fancybox-slide {
        padding: 20px;
    }
    .fancybox-close {
        top: 20px;
        left: auto;
        right: 15px;
        margin-left: 0;
        border-color: #526295;
    }
    .fancybox-close-icon {
        path {
            fill: #526295;
        }
    }
}

@media screen
and (max-width: $mobile){
    .fancybox-slide {
        padding: 15px;
    }
    .map-popup {
        max-width: 190px;
    }
}
