
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.fancybox-slide {
    padding: 30px 40px;
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
}
.fancybox-close:hover {
}

.fancybox-close-icon {
}
.fancybox-close:hover .fancybox-close-icon {
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_right {
    width: 63px;
    height: 100%;
    padding-right: 22px;
    background-color: transparent;
}

.fancybox-button--arrow_left {
    width: 63px;
    height: 100%;
    padding-left: 22px;
    background-color: transparent;
}

.fancybox-button-icon {
    display: block;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &_left { }
    &_right {
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
    color: #c4c4c4;
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}
.fancybox-active .wrapper {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}
/* /Fancybox */



@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.popup {
    width: 735px;
    background-color: #fff;
    padding: 65px 60px 60px;
    border-radius: 12px;
    &-title {
        margin-bottom: 20px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        color: #202430;
        text-align: center;
    }
    &-info {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    &-container {
        max-width: 298px;
        margin-left: auto;
        margin-right: auto;
    }
    &-button {
        width: 100%;
    }

    @media screen
    and (max-width: $tablet) {
        width: 500px;
        padding: 34px 20px 42px;
        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
        }
        &-info {
            margin-bottom: 40px;
        }
        &-button {
            width: auto;
        }
    }
    @media screen
    and (max-width: $mobile) {
        padding: 47px 28px;
        &-container {
            display: flex;
            flex-direction: column;
        }
        &-info {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.location-popup {
    position: absolute;
    top: calc(100% + 32px);
    left: -31px;
    z-index: 2;
    width: 356px;
    padding: 27px 30px 34px;
    background-color: #fff;
    border-radius: 4px;
    border: 0.5px solid #D1D2DB;
    box-shadow: 0 0 10px rgba(197, 195, 199, 0.25);
    &-info {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #1B1B1B;
        a {
            font-weight: 600;
        }
    }
    &-actions {
        display: flex;
    }
    &-button {
        width: 138px;
        padding-left: 27px;
        padding-right: 27px;
        margin-right: 20px;
        border-color: #D1D2DB;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            padding-right: 27px;
        }
    }
    &-icon {
        position: absolute;
        top: -15px;
        left: 44px;
        z-index: 1;
        width: 32px;
        height: 15px;
        overflow: hidden;
    }
}


@media screen
and (max-width: $tablet){
    .location-popup {
        top: calc(100% + 24px);
        width: 270px;
        padding: 20px 21px 25px;
        &-info {
            margin-bottom: 23px;
            font-size: 13px;
            line-height: 21px;
        }
        &-button {
            width: 103px;
        }
    }
    .fancybox-slide {
        padding: 20px;
    }
}

@media screen
and (max-width: $mobile){
    .fancybox-slide {
        padding: 15px;
    }
    .fancybox-close {
        top: -44px;
        left: auto;
        right: 0;
    }
    .map-popup {
        max-width: 190px;
    }
}
