
$mobile: 720px;
$tablet: 992px;
$notebook: 1100px;
$desktop: 1340px;
$gutters: 40px;
$gutter: $gutters/2;

$color: #818A9E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/24px 'Manrope', sans-serif;
    color: $color;
	background-color: #fff;
	letter-spacing: 0.04em;
}

h1,
.h1 {
    margin-bottom: 45px;
	font: 500 36px/40px 'Manrope', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #202430;
}

h2,
.h2 {
    margin-bottom: 24px;
	font: 500 24px/26px 'Manrope', sans-serif;
	color: #202430;
}

h3,
.h3 {
    margin-bottom: 32px;
    font: 18px/20px 'Manrope', sans-serif;
	color: #202430;
}

h4,
.h4 {
    font: 700 18px/20px 'Manrope', sans-serif;
	color: #202430;
}

.title {
	margin-bottom: 60px;
}
.title-simple {
	text-transform: none;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.table {
	min-width: 100%;
	margin-bottom: 13px;
	border-collapse: collapse;
	tr {}
	th {
		min-width: 130px;
		padding: 15px 18px 15px;
		background-color: #ECEDF0;
		font-size: 14px;
		line-height: 19px;
		color: #202430;
		font-weight: 400;
		text-align: center;
	}
	td {
		padding: 15px 18px 15px;
		font-size: 14px;
		line-height: 19px;
		font-weight: 400;
		text-align: center;
	}
	tr:nth-child(2n-1) {
		background-color: #F8F8F8;
	}
	&-name {
		color: #202430;
		min-width: 195px;
	}
	& &-name {
		text-align: left;
	}

	@media screen
	and (max-width: $tablet){
		th {
			padding: 10px 15px;
			font-size: 12px;
			line-height: 16px;
		}
		td {
			padding: 10px 15px;
			font-size: 12px;
			line-height: 16px;
		}
		& &-name:first-child {
			padding-left: 20px;
		}
	}
	@media screen
	and (max-width: $mobile){
	}
}

a {
	color: inherit;
    text-decoration: underline;
    &:hover {
		color: inherit;
    }
}

a img {
    border: none;
}

p {
    margin-bottom: 22px;
}

ul {
    list-style-type: none;
}

ol {
    margin-bottom: 20px;
}

b {
    font-weight: 500;
}

*::before, *::after{
    max-width: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

hr {
	margin-top: 38px;
	margin-bottom: 38px;
    border: 0;
    height: 1px;
    background-color: #eee;
}

img, svg {
    max-height: 100%;
    max-width: 100%;
}

input {
    max-width: 100%;
}
input[type="text"]::-ms-clear {
	display: none;
	width : 0;
	height: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

button {
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: 'Manrope', sans-serif;
}

input,
textarea {
    padding: 6px;
    border-width: 0;
    outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-family: 'Manrope', sans-serif;
}

fieldset {
	border: 0;
}

::-webkit-input-placeholder {color: #9b9b9b;font-size:13px;}
:-moz-placeholder { /* Firefox 18- */color: #9b9b9b;font-size:13px;}
::-moz-placeholder {  /* Firefox 19+ */color: #9b9b9b;font-size:13px;}
:-ms-input-placeholder { color: #9b9b9b;font-size:13px;}

blockquote {
	margin-bottom: 20px;
	padding-left: 45px;
	position: relative;
	font-size: 17px;
	font-style: italic;
	line-height: 26px;
	border-left: 2px solid #00597d;
	color: #1d1d1d;
	&:after {
		content: "\f10e";
		position: absolute;
		top: 0;
		left: 10px;
		font-weight: 900;
		font-size: 25px;
		font-style: normal;
		color: #00597d;
		line-height: 24px;
		font-family: "Line Awesome Free";
	}
}

.quote {
	&_right {
		width: 49%;
		float: right;
		margin-left: 30px;
	}
	&_left {
		float: left;
		width: 49%;
		margin-right: 30px;
	}
	&-info {
		margin-bottom: 2px;
	}
	cite {
		font-size: 15px;
		font-style: normal;
		color: $color;
	}
}

.cite {
	padding-left: 10px;
	font-style: normal;
	border-left: 2px solid #65ba5c;
}

.g-hidden {
	display: none;
}

.currency {
	font-family: "ALSRubl";
}

/* scrollbar */
.scrollbar {
    --scrollbar-size: 6px;
    --scrollbar-minlength: 6px;
    --scrollbar-ff-width: thin;
    --scrollbar-track-color: rgba(234,234,234,1);
    --scrollbar-color: rgba(145,144,144,1);
    --scrollbar-color-hover: rgba(145,144,144,1);
    --scrollbar-color-active: rgba(145,144,144,1);
    scrollbar-width: var(--scrollbar-ff-width);
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);

    &::-webkit-scrollbar {
        height: var(--scrollbar-size);
        width: var(--scrollbar-size);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
		border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color-hover);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-color-active);
    }
    &::-webkit-scrollbar-thumb:vertical {
        min-height: var(--scrollbar-minlength);
    }
    &::-webkit-scrollbar-thumb:horizontal {
        min-width: var(--scrollbar-minlength);
    }
}
/* scrollbar */

/* simplebar */
.simplebar-track.simplebar-vertical {
	width: 3px;
}
.simplebar-scrollbar:before {
	left: 0;
	right: 0;
}
.simplebar-track {
	right: 33px;
	border-radius: 15px;
	background-color: transparent;
}
.simplebar-scrollbar:before {
	background: linear-gradient(0deg, #AA0005 -35.71%, #E31E24 127.55%);
}
.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}
/* /simplebar */


.scroll-simple {
	&-buttons {
		display: none;
		position: relative;
		margin-left: 175px;
	}
	&-buttons-left {
		position: absolute;
		top: -7px;
		left: 0;
		width: 6px;
		height: 10px;
		line-height: 0;
	}
	&-buttons-right {
		position: absolute;
		top: -7px;
		right: 0;
		width: 6px;
		height: 10px;
		line-height: 0;
	}
	&_active {}
	&_active + &-buttons {
		display: block;
	}
	.simplebar-scrollbar:before {
		background: #2873B9;
		border-radius: 2px;
	}
	.simplebar-track.simplebar-horizontal {
		left: 0;
		right: 0;
		height: 4px;
		background-color: #EEEEEF;
		margin-left: 190px;
		margin-right: 16px;
	}
	.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
		top: 0;
		height: 4px;
	}
	.simplebar-track {
		border-radius: 2px;
	}

	@media screen
	and (max-width: $tablet){
		&-buttons {
			margin-left: 0;
		}
		.simplebar-track.simplebar-horizontal {
			margin-left: 12px;
		}
	}
	@media screen
	and (max-width: $mobile){
		margin-left: -20px;
		margin-right: -20px;
		.simplebar-track.simplebar-horizontal {
			margin-left: 32px;
		}
		.simplebar-track.simplebar-horizontal {
			margin-right: 36px;
		}
	}
}


.main-page {}

.wrapper {
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	overflow-x: hidden;
}

.main-content {
	padding-bottom: 122px;
}
.main-page .main-content {
	background: url("../images/bgr/main-bgr.png") repeat-x center 619px;
}

.container {
	min-width: 320px;
	max-width: $desktop;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}

.content {
    b {
		color: #0D0C0B;
	}
	a {
		color: inherit;
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
    ul {
        margin-left: 14px;
		margin-top: 7px;
        margin-bottom: 30px;
    }
    ul li {
        margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 2px;
            height: 2px;
			border-radius: 50%;
            margin-top: -3px;
			margin-left: -13px;
			margin-right: 10px;
            background-color: #4F4F4F;
        }
    }

    ol {
		margin-top: 7px;
		margin-bottom: 47px;
		margin-left: 19px;
	}
	ol li {
		margin-bottom: 21px;
	}

    img {
        height: auto;
		border-radius: 4px;
    }
	figcaption {
		position: relative;
		margin-top: -12px;
		padding: 13px 18px 16px;
		border: 1px solid #eaeaea;
		background-color: #fff;
		text-align: left;
		font-style: italic;
		font-size: 18px;
	}
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
    line-height: 0;
}

.switcher {
    text-decoration: none;
    border-bottom: 1px dashed;
    &:hover {
        border-bottom-color: transparent;
    }
}

/* swiper */
.swiper-pagination-bullets {
	line-height: 0;
	position: static;
	width: auto!important;
	transform: none!important;
}
.swiper-pagination-bullet {
	left: 0!important;
	width: 7px;
	height: 7px;
	background-color: #2873B9;
	opacity: 0.5;
	transition: height 0.3s linear;
	margin-right: 5px!important;
	margin-left: 5px!important;
}
.swiper-pagination-bullet-active {
	opacity: 1;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: none;
}
.swiper-button-lock {
	display: none!important;
}
/* /swiper */

/* slider */
.slider {
	&-nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-button {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 33px;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		cursor: pointer;
		background-color: #2873B9;
		&:hover {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2873B9;
		}
	}
	&-button-icon path {
		fill: #fff;
	}
	&-button_prev {
		margin-right: 5px;
	}
	&-button_next {
		margin-left: 5px;
	}
	&-button:hover &-button-icon path {
		fill: #fff;
	}
	&-button:active {
		background: #2873B9;
	}
	&-button:active &-button-icon path {
		fill: #fff;
	}
	&-button_disabled {
		cursor: auto;
		background-color: rgba(255, 255, 255, 0.2);
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	&-button_disabled &-button-icon path {
		fill: #C5C6C7;
	}
	&-button_disabled:hover &-button-icon path {
		fill: #C5C6C7;
	}
	&-button_disabled:active {
		background: rgba(255, 255, 255, 0.2);
	}
	&-button_disabled:active &-button-icon path {
		fill: #C5C6C7;
	}
}
/* /slider */

.svg-box {
	display: none;
}

.breadcrumbs {
	margin-bottom: 47px;
	&-list {
		line-height: 19px;
	}
	&-item {
		display: inline;
		margin-right: 9px;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: #202430;
		text-transform: uppercase;
	}
	&-link {
		text-decoration: none;
		color: #818A9E;
		text-transform: uppercase;
		&:hover {
			color: #D50A0A;
		}
	}
	&-icon {
		display: inline-block;
		margin-left: 9px;
		path {
		}
	}
	&-link:hover &-icon path {
		fill: #D50A0A;
	}

	@media screen
	and (max-width: $tablet){
		margin-bottom: 30px;
		&-item {
			color: #D50A0A;
		}
	}
	@media screen
	and (max-width: $mobile){
		margin-bottom: 36px;
	}
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* pager */
.pager {
	list-style-type: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	&-item {
		font-size: 14px;
		line-height: 19px;
	}
	&-item:last-child {
		margin-right: 0;
	}
	&-item_first {
	}
	&-item_last {
	}
	&-link {
		display: inline-block;
		width: 49px;
		height: 49px;
		padding: 15px 10px;
		text-decoration: none;
		font-size: 14px;
		line-height: 19px;
		color: #202430;
		border-radius: 8px;
		&:hover {
			color: #fff;
			background-color: #2873B9;
		}
	}
	&-icon {
	}
	&-icon path {
		fill: #818A9E;
	}
	&-link:hover &-icon path {
		fill: #fff;
	}
	&-item_active &-link {
		color: #fff;
		background-color: #D50A0A;
	}
	&-item_end {}
	&-item_end &-icon path {
		fill: #202430;
	}
	&-item_end &-link {
		min-width: 69px;
	}
	&-item_disabled {}
	&-item_disabled &-icon path {
		fill: #C5C6C7;
	}
	&-item_disabled &-link:hover {
		background-color: transparent;
		cursor: default;
	}
	&-item_disabled &-link:hover &-icon path {
		fill: #C5C6C7;
	}

	@media screen
	and (max-width: $tablet){
		&-item_end {
			display: none;
		}
	}

	@media screen
	and (max-width: $mobile){
		&-link {
			width: 35px;
			height: 35px;
			padding: 8px 5px;
			font-size: 12px;
		}
	}
}
/* /pager */

/* icons */
.icon {
	display: inline-block;
	background: no-repeat 0 0;
}
/* /icons */

.button-up {
	display: none;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	bottom: 20px;
	left: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: rgba(213, 10, 10, 0.6);
	text-align: center;
	transition: visibility 0.3s linear, background-color 0.3s ease-in-out;
	&:hover {
		background-color: rgba(213, 10, 10, 1);
	}
	&_active {
		visibility: visible;
	}
	&-icon {
		position: relative;
	}
}

/* show-more */
.show {
	&-switcher {
		display: none;
	}
	&-switcher:hover { }
	&more-start &-switcher {
		display: inline-block;
	}
	&-more {}
	&-more-label {
		display: inline-block;
	}
	&-more-label:hover { }
	&-more-label_simple {
		font-weight: 700;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		color: #59A750;
	}
	&-more-icon {
		margin-top: -3px;
		margin-left: 14px;
		vertical-align: middle;
	}
	&-switcher_active {
		display: inline-block;
	}
	&-more_hide {
		display: none;
	}
	&more-active &-more_show {
		display: none;
	}
	&more-active &-more_hide {
		display: block;
	}
	&more-active &-more-icon {
		transform: scaleY(-1);
	}
}
/* /-show-more */

/* tooltip */
.tooltip {
	display: inline-block;
	&-info {
		display: none;
		max-width: 290px;
		padding: 14px 15px 14px 25px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.085em;
		color: #000000;
		background-color: #fff;
		border-radius: 10px;
	}
}
.tpd-skin-light .tpd-background {
	border-width: 0;
	box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
}
.tpd-skin-light .tpd-background-shadow {
	box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
}
.tpd-skin-light .tpd-content {
	padding: 0;
}
.tpd-tooltip .tooltip-info {
	display: block!important;
}
/* arrow */
.tpd-shift-stem {
	display: none;
}
/* /tooltip */

/* tabs */
.tabs {
	padding-bottom: 60px;
	@include clearfix();
	&-menu-wrapper {
		margin-bottom: 66px;
	}
	&-menu {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 45px;
	}
	&-menu-item {
		width: auto;
		margin-right: 30px;
		margin-bottom: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-menu-link {
		display: inline-block;
		height: 35px;
		padding: 8px 17px;
		text-decoration: none;
		font-size: 14px;
		line-height: 19px;
		color: #202430;
		background-color: #ECEDF0;
		border-radius: 8px;
		white-space: nowrap;
		&:hover {
			color: #fff;
			background-color: #2873B9;
		}
		&:active {
			color: #fff;
			background-color: #D50A0A;
		}
	}
	&-menu-item_active {}
	&-menu-item_active &-menu-link {
		color: #fff;
		background-color: #D50A0A;
		&:active {
			color: #fff;
			background-color: #D50A0A;
		}
	}
	&-menu-item_active &-item {
		display: block;
	}
	&-item {
		visibility: hidden;
		height: 0;
		overflow: hidden;
	}
	&-item_active {
		visibility: visible;
		height: auto;
		overflow: visible;
	}

	@media screen
	and (max-width: $tablet){
		&-menu {
			margin-bottom: 35px;
			flex-wrap: nowrap;
		}
		&-menu-item {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
	@media screen
	and (max-width: $mobile){
		&-menu-link {
			height: 32px;
			font-size: 12px;
			line-height: 16px;
		}
	}
}
/* /tabs */

.link {
	position: absolute;
	top: 7px;
	right: 0;
	display: flex;
	align-items: center;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #202430;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		color: #D50A0A;
	}
	&-icon {
		width: 23px;
		height: 23px;
		margin-left: 9px;
	}
	&:hover &-icon path {
		fill: #FF3560;
	}
	&:hover &-icon line {
		stroke: #FF3560;
	}
}

.text {
	&-content {
		margin-bottom: 120px;
	}
	&-pic {
		margin-bottom: 30px;
	}
	&-pic-link {
		display: block;
		position: relative;
	}
	&-img {
		display: block;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		filter: grayscale(1);
	}
	&-pic-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 159px;
		height: 159px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("../images/clients/clients-video-bgr.png") no-repeat 0 0;
		background-size: 100% auto;
	}
	&-pic-icon-1 {
		margin-right: -8px;
	}
	&-img-left {
		float: left;
		margin-right: 30px;
		margin-bottom: 20px;
	}
	&-img-right {
		float: right;
		margin-left: 30px;
		margin-bottom: 20px;
	}
	&-title {
		margin-top: 0!important;
	}
}

@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
	h1,
	.h1 {
		margin-bottom: 35px;
		font-size:  26px;
		line-height: 29px;
	}
	h2,
	.h2 {
		margin-bottom: 20px;
		font-size:  18px;
		line-height: 24px;
		font-weight: 700;
	}
	h3,
	.h3 {
		font-size:  14px;
		line-height: 19px;
		font-weight: 500;
	}
	h4,
	.h4 {
		font-weight: 500;
		font-size:  14px;
		line-height: 19px;
	}
	.title {
		margin-bottom: 35px;
	}
	.title-simple {
		text-transform: uppercase;
		font-size: 22px;
		line-height: 24px;
	}
	p {
		margin-bottom: 18px;
	}
	.link {
		display: none;
	}
	.main-page .main-content {
		background-position: center 490px;
	}
	.content {
		font-size: 14px;
		line-height: 19px;
	}
	.simplebar-track {
		right: 15px;
	}
	.row {
		margin-right: -7px;
		margin-left: -7px;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		padding-right: 7px;
		padding-left: 7px;
	}
}

@media screen
and (max-width: $mobile){
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
	.button-up {
		display: block;
	}
}
