
$mobile: 720px;
$tablet: 992px;
$notebook: 1100px;
$desktop: 1340px;
$gutters: 40px;
$gutter: $gutters/2;

$color: #818A9E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/24px 'Manrope', sans-serif;
    color: $color;
	background-color: #fff;
	letter-spacing: 0.04em;
}

h1,
.h1 {
    margin-bottom: 60px;
	font: 500 36px/40px 'Manrope', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #202430;
}

h2,
.h2 {
    margin-bottom: 24px;
	font: 500 24px/26px 'Manrope', sans-serif;
	color: #202430;
}

h3,
.h3 {
    margin-bottom: 32px;
    font: 18px/20px 'Manrope', sans-serif;
	color: #202430;
}

h4,
.h4 {
    font: 700 18px/20px 'Manrope', sans-serif;
	color: #202430;
}

a {
	color: inherit;
    text-decoration: underline;
    &:hover {
		color: inherit;
    }
}

a img {
    border: none;
}

p {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

ol {
    margin-bottom: 20px;
}

b {
    font-weight: 700;
}

*::before, *::after{
    max-width: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

hr {
	margin-top: 38px;
	margin-bottom: 38px;
    border: 0;
    height: 1px;
    background-color: #eee;
}

img, svg {
    max-height: 100%;
    max-width: 100%;
}

input {
    max-width: 100%;
}
input[type="text"]::-ms-clear {
	display: none;
	width : 0;
	height: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

button {
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: 'Manrope', sans-serif;
}

input,
textarea {
    padding: 6px;
    border-width: 0;
    outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-family: 'Manrope', sans-serif;
}

::-webkit-input-placeholder {color: #9b9b9b;font-size:13px;}
:-moz-placeholder { /* Firefox 18- */color: #9b9b9b;font-size:13px;}
::-moz-placeholder {  /* Firefox 19+ */color: #9b9b9b;font-size:13px;}
:-ms-input-placeholder { color: #9b9b9b;font-size:13px;}

blockquote {
	margin-bottom: 20px;
	padding-left: 45px;
	position: relative;
	font-size: 17px;
	font-style: italic;
	line-height: 26px;
	border-left: 2px solid #00597d;
	color: #1d1d1d;
	&:after {
		content: "\f10e";
		position: absolute;
		top: 0;
		left: 10px;
		font-weight: 900;
		font-size: 25px;
		font-style: normal;
		color: #00597d;
		line-height: 24px;
		font-family: "Line Awesome Free";
	}
}

.quote {
	&_right {
		width: 49%;
		float: right;
		margin-left: 30px;
	}
	&_left {
		float: left;
		width: 49%;
		margin-right: 30px;
	}
	&-info {
		margin-bottom: 2px;
	}
	cite {
		font-size: 15px;
		font-style: normal;
		color: $color;
	}
}

.cite {
	padding-left: 10px;
	font-style: normal;
	border-left: 2px solid #65ba5c;
}

.g-hidden {
	display: none;
}

.currency {
	font-family: "ALSRubl";
}

/* scrollbar */
.scrollbar {
    --scrollbar-size: 6px;
    --scrollbar-minlength: 6px;
    --scrollbar-ff-width: thin;
    --scrollbar-track-color: rgba(234,234,234,1);
    --scrollbar-color: rgba(145,144,144,1);
    --scrollbar-color-hover: rgba(145,144,144,1);
    --scrollbar-color-active: rgba(145,144,144,1);
    scrollbar-width: var(--scrollbar-ff-width);
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);

    &::-webkit-scrollbar {
        height: var(--scrollbar-size);
        width: var(--scrollbar-size);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
		border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color-hover);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-color-active);
    }
    &::-webkit-scrollbar-thumb:vertical {
        min-height: var(--scrollbar-minlength);
    }
    &::-webkit-scrollbar-thumb:horizontal {
        min-width: var(--scrollbar-minlength);
    }
}
/* scrollbar */

/* simplebar */
.simplebar-track.simplebar-vertical {
	width: 5px;
}
.simplebar-scrollbar:before {
	left: 0;
	right: 0;
}
.simplebar-track {
	border-radius: 2.5px;
	background-color: transparent;
}
.simplebar-scrollbar:before {
	background-color: gray;
}
.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}
/* /simplebar */

.main-page {}

.wrapper {
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	overflow-x: hidden;
}

.main-content {
	padding-bottom: 112px;
}
.main-page .main-content {
	background: url("../images/bgr/main-bgr.png") repeat-y center 619px;
}

.container {
	min-width: 320px;
	max-width: $desktop;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}

.content {
	h1, .h1 {
		margin-top: 47px;
		&:first-child {
			margin-top: 0;
		}
	}
	h2, .h2 {
		margin-top: 47px;
		&:first-child {
			margin-top: 0;
		}
	}
    b {
		color: #0D0C0B;
	}
	a {
		color: inherit;
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
    ul {
        margin-left: 14px;
		margin-top: 7px;
        margin-bottom: 30px;
    }
    ul li {
        margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 2px;
            height: 2px;
			border-radius: 50%;
            margin-top: -3px;
			margin-left: -13px;
			margin-right: 10px;
            background-color: #4F4F4F;
        }
    }

    ol {
		margin-top: 7px;
		margin-bottom: 47px;
		margin-left: 19px;
	}
	ol li {
		margin-bottom: 21px;
	}

    img {
        height: auto;
		border-radius: 4px;
    }
	figcaption {
		position: relative;
		margin-top: -12px;
		padding: 13px 18px 16px;
		border: 1px solid #eaeaea;
		background-color: #fff;
		text-align: left;
		font-style: italic;
		font-size: 18px;
	}
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
    line-height: 0;
}

.switcher {
    text-decoration: none;
    border-bottom: 1px dashed;
    &:hover {
        border-bottom-color: transparent;
    }
}

/* swiper */
.swiper-pagination-bullets {
	line-height: 0;
	position: static;
	width: auto!important;
	transform: none!important;
}
.swiper-pagination-bullet {
	left: 0!important;
	width: 7px;
	height: 7px;
	background-color: #2873B9;
	opacity: 0.5;
	transition: height 0.3s linear;
	margin-right: 5px!important;
	margin-left: 5px!important;
}
.swiper-pagination-bullet-active {
	opacity: 1;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: none;
}
.swiper-button-lock {
	display: none!important;
}
/* /swiper */

/* slider */
.slider {
	&-nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		cursor: pointer;
		background-color: #2873B9;
		&:hover {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2873B9;
		}
	}
	&-button-icon path {
		fill: #fff;
	}
	&-button_prev {
		margin-right: 5px;
	}
	&-button_next {
		margin-left: 5px;
	}
	&-button:hover &-button-icon path {
		fill: #fff;
	}
	&-button:active {
		background: #2873B9;
	}
	&-button:active &-button-icon path {
		fill: #fff;
	}
	&-button_disabled {
		cursor: auto;
		background-color: rgba(255, 255, 255, 0.2);
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	&-button_disabled &-button-icon path {
		fill: #C5C6C7;
	}
	&-button_disabled:hover &-button-icon path {
		fill: #C5C6C7;
	}
	&-button_disabled:active {
		background: rgba(255, 255, 255, 0.2);
	}
	&-button_disabled:active &-button-icon path {
		fill: #C5C6C7;
	}
}
/* /slider */

.svg-box {
	display: none;
}

.breadcrumbs {
	position: relative;
	z-index: 1;
	width: 100%;
	&-list {
	}
	&-item {
		display: inline;
		vertical-align: middle;
		margin-right: 10px;
		margin-bottom: 4px;
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #FFFFFF;
	}
	&-item_more {
		position: absolute;
		top: 4px;
		right: 0;
		z-index: 1;
		margin-right: 0;
		padding-right: 5px;
		padding-left: 8px;
		display: none;
		background-color: #526295;
	}
	&-link {
		text-decoration: none;
		&:hover {
			color: #FFFFFF;
		}
	}
	&-item_more &-link {
		font-size: 12px;
		color: #fff;
	}
	&-icon {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		font-size: 12px;
		color: #727272;
		path {
			fill: #fff;
		}
	}
	&-label {
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #FFFFFF;
	}
	&-link:hover &-label {
		text-decoration: underline;
	}

	&_simple {
		margin-bottom: 40px;
	}
	&_simple &-label {
		color: #526295;
	}
	&_simple &-icon path {
		fill: #526295;
	}
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* pager */
.pager {
	list-style-type: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	&-item {
		font-size: 16px;
	}
	&-item:last-child {
		margin-right: 0;
	}
	&-item_first {
	}
	&-item_last {
	}
	&-link {
		display: inline-block;
		padding-right: 8px;
		padding-left: 8px;
		text-decoration: none;
		font-size: 18px;
		line-height: 25px;
		color: #828282;
		&:hover {
			color: #59A750;
		}
	}
	&-link_last {}
	&-icon {
		margin-top: 1px;
		font-size: 25px;
		color: #1d1d1d;
	}
	&-link:hover &-icon {
	}
	&-item_active &-link {
		color: #59A750;
	}
	&-item_active &-link:hover {
		color: #59A750;
	}
	&-item_default &-link:hover {
		border-color: transparent;
	}
	&-item_default &-icon {
		color: #a9a9a9;
	}
	&-item_side {
	}
	&-item_side &-link {
	}
	&-item_side &-icon {
		margin-top: 6px;
		margin-left: 1px;
	}
}
/* /pager */

/* icons */
.icon {
	display: inline-block;
	background: no-repeat 0 0;
}
/* /icons */

.button-up {
	visibility: hidden;
	position: fixed;
	z-index: 100;
	bottom: 55px;
	right: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #59A750;
	text-align: center;
	transition: visibility 0.3s linear, background-color 0.3s ease-in-out;
	&:hover {
		background-color: #FF5800;
	}
	&_active {
		visibility: visible;
	}
	&-icon {
		position: relative;
		top: -2px;
		transform: scaleY(-1);
	}
}

/* show-more */
.show {
	&-switcher {
		display: none;
	}
	&-switcher:hover { }
	&more-start &-switcher {
		display: inline-block;
	}
	&-more {}
	&-more-label {
		display: inline-block;
	}
	&-more-label:hover { }
	&-more-label_simple {
		font-weight: 700;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		color: #59A750;
	}
	&-more-icon {
		margin-top: -3px;
		margin-left: 14px;
		vertical-align: middle;
	}
	&-switcher_active {
		display: inline-block;
	}
	&-more_hide {
		display: none;
	}
	&more-active &-more_show {
		display: none;
	}
	&more-active &-more_hide {
		display: block;
	}
	&more-active &-more-icon {
		transform: scaleY(-1);
	}
}
/* /-show-more */

/* tooltip */
.tooltip {
	display: inline-block;
	&-info {
		display: none;
		max-width: 290px;
		padding: 14px 15px 14px 25px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.085em;
		color: #000000;
		background-color: #fff;
		border-radius: 10px;
	}
}
.tpd-skin-light .tpd-background {
	border-width: 0;
	box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
}
.tpd-skin-light .tpd-background-shadow {
	box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
}
.tpd-skin-light .tpd-content {
	padding: 0;
}
.tpd-tooltip .tooltip-info {
	display: block!important;
}
/* arrow */
.tpd-shift-stem {
	display: none;
}
/* /tooltip */

/* tabs */
.tabs {
	padding-bottom: 60px;
	@include clearfix();
	&-menu-wrapper {
		margin-bottom: 66px;
	}
	&-menu {
		display: flex;
	}
	&-menu-item {
		width: auto;
		background-color: #F8F7F7;
		&:first-child {
			border-radius: 25px 0 0 25px;
		}
		&:last-child {
			border-radius: 0 25px 25px 0;
		}
	}
	&-menu-link {
		display: block;
		height: 50px;
		padding: 14px 70px;
		line-height: 1.5em;
		border-radius: 25px;
		text-decoration: none;
		font-weight: 600;
		font-size: 15px;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #111111;
		background-color: #F8F7F7;
		white-space: nowrap;
		&:hover {
			color: #59A750;
		}
	}
	&-menu-item_active {}
	&-menu-item_active &-menu-link {
		background-color: #59A750;
		color: #FFFFFF;
	}
	&-menu-item_active &-item {
		display: block;
	}
	&-item {
		display: none;
	}
	&-item_active {
		display: block;
	}
	&-menu-icon {
		display: none;
		font-size: 16px;
		color: #1d1d1d;
	}

	&-menu_simple {}
	&-menu_simple &-menu-link {
		text-transform: none;
	}
}
/* /tabs */

.link {
	position: absolute;
	top: 7px;
	right: 0;
	display: flex;
	align-items: center;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #202430;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		color: #D50A0A;
	}
	&-icon {
		width: 23px;
		height: 23px;
		margin-left: 9px;
	}
	&:hover &-icon path {
		fill: #FF3560;
	}
	&:hover &-icon line {
		stroke: #FF3560;
	}
}

.text {
	&-content {
		margin-bottom: 120px;
	}
	&-pic {
		margin-bottom: 30px;
	}
	&-pic-link {
		display: block;
		position: relative;
	}
	&-img {
		display: block;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		filter: grayscale(1);
	}
	&-pic-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 159px;
		height: 159px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("../images/clients/clients-video-bgr.png") no-repeat 0 0;
		background-size: 100% auto;
	}
	&-pic-icon-1 {
		margin-right: -8px;
	}
	&-img-left {
		float: left;
		margin-right: 30px;
		margin-bottom: 20px;
	}
	&-img-right {
		float: right;
		margin-left: 30px;
		margin-bottom: 20px;
	}
	&-title {
		margin-top: 0!important;
	}
}

@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
	h1,
	.h1 {
		margin-bottom: 35px;
		font-size:  26px;
		line-height: 29px;
	}
	h2,
	.h2 {
		font-size:  18px;
		line-height: 24px;
		font-weight: 700;
	}
	h3,
	.h3 {
		font-size:  14px;
		line-height: 19px;
		font-weight: 500;
	}
	h4,
	.h4 {
		font-weight: 500;
		font-size:  14px;
		line-height: 19px;
	}
	.link {
		display: none;
	}
	.main-page .main-content {
		background-position: center 490px;
	}
}

@media screen
and (max-width: $mobile){
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}
